<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-language-heading" data-cy="LanguageCreateUpdateHeading" jhiTranslate="lmswiamApp.language.home.createOrEditLabel">
        Create or edit a Language
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.language.nameAr" for="field_nameAr">Name Ar</label>
          <input type="text" class="form-control" name="nameAr" id="field_nameAr" data-cy="nameAr" formControlName="nameAr" />
          <div *ngIf="editForm.get('nameAr')!.invalid && (editForm.get('nameAr')!.dirty || editForm.get('nameAr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nameAr')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameAr')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
              >This field cannot be longer than 100 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.language.nameLat" for="field_nameLat">Name Lat</label>
          <input type="text" class="form-control" name="nameLat" id="field_nameLat" data-cy="nameLat" formControlName="nameLat" />
          <div *ngIf="editForm.get('nameLat')!.invalid && (editForm.get('nameLat')!.dirty || editForm.get('nameLat')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nameLat')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameLat')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
              >This field cannot be longer than 100 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.language.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('code')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
              >This field cannot be longer than 10 characters.</small
            >
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
