<div>
  <h2 id="page-heading" data-cy="DepenseHeading">
    <span jhiTranslate="lmswiamApp.depense.home.title">Depenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lmswiamApp.depense.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-depense"
        [routerLink]="['/depense/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="lmswiamApp.depense.home.createLabel">Create a new Depense</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="lmswiamApp.depense.home.search">Search for Depense</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'lmswiamApp.depense.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (depenses?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmswiamApp.depense.home.notFound">No Depenses found</span>
    </div>
  }

  @if (depenses && depenses.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.depense.type">Type</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="target">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.depense.target">Target</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="frequency">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.depense.frequency">Frequency</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.depense.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ref">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.depense.ref">Ref</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="message">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.depense.message">Message</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="resource.firstName">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.depense.resource">Resource</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (depense of depenses; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/depense', depense.id, 'view']">{{ depense.id }}</a>
              </td>
              <td jhiTranslate="{{ 'lmswiamApp.DepenseType.' + depense.type }}">{{ depense.type }}</td>
              <td jhiTranslate="{{ 'lmswiamApp.DepenseTarget.' + depense.target }}">{{ depense.target }}</td>
              <td jhiTranslate="{{ 'lmswiamApp.DepenseFrequency.' + depense.frequency }}">{{ depense.frequency }}</td>
              <td>{{ depense.amount }}</td>
              <td>{{ depense.ref }}</td>
              <td>{{ depense.message }}</td>
              <td>
                @if (depense.resource) {
                  <div>
                    <a [routerLink]="['/user-custom', depense.resource.id, 'view']">{{ depense.resource.firstName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/depense', depense.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/depense', depense.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(depense)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
