<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-custom-heading" data-cy="UserCustomCreateUpdateHeading" jhiTranslate="lmswiamApp.userCustom.home.createOrEditLabel">
        Create or edit a User Custom
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('firstName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('lastName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.accountName" for="field_accountName">Account Name</label>
          <input
            type="text"
            class="form-control"
            name="accountName"
            id="field_accountName"
            data-cy="accountName"
            formControlName="accountName"
          />
          @if (editForm.get('accountName')!.invalid && (editForm.get('accountName')!.dirty || editForm.get('accountName')!.touched)) {
            <div>
              @if (editForm.get('accountName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('accountName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.role" for="field_role">Role</label>
          <select class="form-control" name="role" formControlName="role" id="field_role" data-cy="role">
            <option [ngValue]="null">{{ 'lmswiamApp.Role.null' | translate }}</option>
            @for (role of roleValues; track $index) {
              <option [value]="role">{{ 'lmswiamApp.Role.' + role | translate }}</option>
            }
          </select>
          @if (editForm.get('role')!.invalid && (editForm.get('role')!.dirty || editForm.get('role')!.touched)) {
            <div>
              @if (editForm.get('role')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.accountStatus" for="field_accountStatus">Account Status</label>
          <select
            class="form-control"
            name="accountStatus"
            formControlName="accountStatus"
            id="field_accountStatus"
            data-cy="accountStatus"
          >
            <option [ngValue]="null">{{ 'lmswiamApp.AccountStatus.null' | translate }}</option>
            @for (accountStatus of accountStatusValues; track $index) {
              <option [value]="accountStatus">{{ 'lmswiamApp.AccountStatus.' + accountStatus | translate }}</option>
            }
          </select>
          @if (editForm.get('accountStatus')!.invalid && (editForm.get('accountStatus')!.dirty || editForm.get('accountStatus')!.touched)) {
            <div>
              @if (editForm.get('accountStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.phoneNumber1" for="field_phoneNumber1">Phone Number 1</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber1"
            id="field_phoneNumber1"
            data-cy="phoneNumber1"
            formControlName="phoneNumber1"
          />
          @if (editForm.get('phoneNumber1')!.invalid && (editForm.get('phoneNumber1')!.dirty || editForm.get('phoneNumber1')!.touched)) {
            <div>
              @if (editForm.get('phoneNumber1')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('phoneNumber1')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.phoneNumver2" for="field_phoneNumver2">Phone Numver 2</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumver2"
            id="field_phoneNumver2"
            data-cy="phoneNumver2"
            formControlName="phoneNumver2"
          />
          @if (editForm.get('phoneNumver2')!.invalid && (editForm.get('phoneNumver2')!.dirty || editForm.get('phoneNumver2')!.touched)) {
            <div>
              @if (editForm.get('phoneNumver2')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.sex" for="field_sex">Sex</label>
          <select class="form-control" name="sex" formControlName="sex" id="field_sex" data-cy="sex">
            <option [ngValue]="null">{{ 'lmswiamApp.Sex.null' | translate }}</option>
            @for (sex of sexValues; track $index) {
              <option [value]="sex">{{ 'lmswiamApp.Sex.' + sex | translate }}</option>
            }
          </select>
          @if (editForm.get('sex')!.invalid && (editForm.get('sex')!.dirty || editForm.get('sex')!.touched)) {
            <div>
              @if (editForm.get('sex')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.birthdate" for="field_birthdate">Birthdate</label>
          <div class="input-group">
            <input
              id="field_birthdate"
              data-cy="birthdate"
              type="text"
              class="form-control"
              name="birthdate"
              ngbDatepicker
              #birthdateDp="ngbDatepicker"
              formControlName="birthdate"
            />
            <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('birthdate')!.invalid && (editForm.get('birthdate')!.dirty || editForm.get('birthdate')!.touched)) {
            <div>
              @if (editForm.get('birthdate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.photo" for="field_photo">Photo</label>
          <div>
            @if (editForm.get('photo')!.value) {
              <img
                [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
                style="max-height: 100px"
                alt="userCustom image"
              />
            }
            @if (editForm.get('photo')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
          @if (editForm.get('photo')!.invalid && (editForm.get('photo')!.dirty || editForm.get('photo')!.touched)) {
            <div></div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.address" for="field_address">Address</label>
          <textarea class="form-control" name="address" id="field_address" data-cy="address" formControlName="address"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.facebook" for="field_facebook">Facebook</label>
          <input type="text" class="form-control" name="facebook" id="field_facebook" data-cy="facebook" formControlName="facebook" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.telegramUserCustomId" for="field_telegramUserCustomId"
            >Telegram User Custom Id</label
          >
          <input
            type="text"
            class="form-control"
            name="telegramUserCustomId"
            id="field_telegramUserCustomId"
            data-cy="telegramUserCustomId"
            formControlName="telegramUserCustomId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.telegramUserCustomName" for="field_telegramUserCustomName"
            >Telegram User Custom Name</label
          >
          <input
            type="text"
            class="form-control"
            name="telegramUserCustomName"
            id="field_telegramUserCustomName"
            data-cy="telegramUserCustomName"
            formControlName="telegramUserCustomName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.biography" for="field_biography">Biography</label>
          <textarea class="form-control" name="biography" id="field_biography" data-cy="biography" formControlName="biography"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.bankAccountDetails" for="field_bankAccountDetails"
            >Bank Account Details</label
          >
          <textarea
            class="form-control"
            name="bankAccountDetails"
            id="field_bankAccountDetails"
            data-cy="bankAccountDetails"
            formControlName="bankAccountDetails"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="lmswiamApp.userCustom.diplomas" for="field_diplomas">Diplomas</label>
          <select
            class="form-control"
            id="field_diplomas"
            data-cy="diplomas"
            multiple
            name="diplomas"
            formControlName="diplomas"
            [compareWith]="compareDiploma"
          >
            @for (diplomaOption of diplomasSharedCollection; track $index) {
              <option [ngValue]="diplomaOption">{{ diplomaOption.title }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="lmswiamApp.userCustom.languages" for="field_languages">Languages</label>
          <select
            class="form-control"
            id="field_languages"
            data-cy="languages"
            multiple
            name="languages"
            formControlName="languages"
            [compareWith]="compareLanguage"
          >
            @for (languageOption of languagesSharedCollection; track $index) {
              <option [ngValue]="languageOption">{{ languageOption.nameAr }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.site13" for="field_site13">Site 13</label>
          <select
            class="form-control"
            id="field_site13"
            data-cy="site13"
            name="site13"
            formControlName="site13"
            [compareWith]="compareSite"
          >
            <option [ngValue]="null"></option>
            @for (siteOption of sitesSharedCollection; track $index) {
              <option [ngValue]="siteOption">{{ siteOption.nameAr }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.country" for="field_country">Country</label>
          <select
            class="form-control"
            id="field_country"
            data-cy="country"
            name="country"
            formControlName="country"
            [compareWith]="compareCountry"
          >
            <option [ngValue]="null"></option>
            @for (countryOption of countriesSharedCollection; track $index) {
              <option [ngValue]="countryOption">{{ countryOption.nameAr }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.nationality" for="field_nationality">Nationality</label>
          <select
            class="form-control"
            id="field_nationality"
            data-cy="nationality"
            name="nationality"
            formControlName="nationality"
            [compareWith]="compareNationality"
          >
            <option [ngValue]="null"></option>
            @for (nationalityOption of nationalitiesSharedCollection; track $index) {
              <option [ngValue]="nationalityOption">{{ nationalityOption.nameAr }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.job" for="field_job">Job</label>
          <select class="form-control" id="field_job" data-cy="job" name="job" formControlName="job" [compareWith]="compareJob">
            <option [ngValue]="null"></option>
            @for (jobOption of jobsSharedCollection; track $index) {
              <option [ngValue]="jobOption">{{ jobOption.titleAr }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.userCustom.departement2" for="field_departement2">Departement 2</label>
          <select
            class="form-control"
            id="field_departement2"
            data-cy="departement2"
            name="departement2"
            formControlName="departement2"
            [compareWith]="compareDepartement"
          >
            <option [ngValue]="null"></option>
            @for (departementOption of departementsSharedCollection; track $index) {
              <option [ngValue]="departementOption">{{ departementOption.nameAr }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
