<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-editions-heading" data-cy="EditionsCreateUpdateHeading" jhiTranslate="lmswiamApp.editions.home.createOrEditLabel">
        Create or edit a Editions
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="lmswiamApp.editions.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.identifier" for="field_identifier">Identifier</label>
          <textarea
            class="form-control"
            name="identifier"
            id="field_identifier"
            data-cy="identifier"
            formControlName="identifier"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.language" for="field_language">Language</label>
          <textarea class="form-control" name="language" id="field_language" data-cy="language" formControlName="language"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.name" for="field_name">Name</label>
          <textarea class="form-control" name="name" id="field_name" data-cy="name" formControlName="name"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.englishName" for="field_englishName">English Name</label>
          <textarea
            class="form-control"
            name="englishName"
            id="field_englishName"
            data-cy="englishName"
            formControlName="englishName"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.format" for="field_format">Format</label>
          <textarea class="form-control" name="format" id="field_format" data-cy="format" formControlName="format"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.type" for="field_type">Type</label>
          <textarea class="form-control" name="type" id="field_type" data-cy="type" formControlName="type"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.editions.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
