<div>
  <h2 id="page-heading" data-cy="ReviewHeading">
    <span jhiTranslate="lmswiamApp.review.home.title">Reviews</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lmswiamApp.review.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-review"
        [routerLink]="['/review/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="lmswiamApp.review.home.createLabel">Create a new Review</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="lmswiamApp.review.home.search">Search for Review</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'lmswiamApp.review.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (reviews?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmswiamApp.review.home.notFound">No Reviews found</span>
    </div>
  }

  @if (reviews && reviews.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="body">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.review.body">Body</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="rating">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.review.rating">Rating</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reviewDate">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.review.reviewDate">Review Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="part2.titleAr">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.review.part2">Part 2</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userCustom3.id">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.review.userCustom3">User Custom 3</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (review of reviews; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/review', review.id, 'view']">{{ review.id }}</a>
              </td>
              <td>{{ review.body }}</td>
              <td>{{ review.rating }}</td>
              <td>{{ review.reviewDate | formatMediumDatetime }}</td>
              <td>
                @if (review.part2) {
                  <div>
                    <a [routerLink]="['/part', review.part2.id, 'view']">{{ review.part2.titleAr }}</a>
                  </div>
                }
              </td>
              <td>
                @if (review.userCustom3) {
                  <div>
                    <a [routerLink]="['/user-custom', review.userCustom3.id, 'view']">{{ review.userCustom3.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/review', review.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(review)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
