<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-surahs-heading" data-cy="SurahsCreateUpdateHeading" jhiTranslate="lmswiamApp.surahs.home.createOrEditLabel">
        Create or edit a Surahs
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.number" for="field_number">Number</label>
          <input type="number" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.nameAr" for="field_nameAr">Name Ar</label>
          <textarea class="form-control" name="nameAr" id="field_nameAr" data-cy="nameAr" formControlName="nameAr"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.nameEn" for="field_nameEn">Name En</label>
          <textarea class="form-control" name="nameEn" id="field_nameEn" data-cy="nameEn" formControlName="nameEn"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.nameEnTranslation" for="field_nameEnTranslation"
            >Name En Translation</label
          >
          <textarea
            class="form-control"
            name="nameEnTranslation"
            id="field_nameEnTranslation"
            data-cy="nameEnTranslation"
            formControlName="nameEnTranslation"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.type" for="field_type">Type</label>
          <textarea class="form-control" name="type" id="field_type" data-cy="type" formControlName="type"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.surahs.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
