<div>
  <h2 id="page-heading" data-cy="AyahEditionHeading">
    <span jhiTranslate="lmswiamApp.ayahEdition.home.title">Ayah Editions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lmswiamApp.ayahEdition.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ayah-edition"
        [routerLink]="['/ayah-edition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="lmswiamApp.ayahEdition.home.createLabel">Create a new Ayah Edition</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="lmswiamApp.ayahEdition.home.search">Search for Ayah Edition</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'lmswiamApp.ayahEdition.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="ayahEditions?.length === 0">
    <span jhiTranslate="lmswiamApp.ayahEdition.home.notFound">No Ayah Editions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ayahEditions && ayahEditions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="lmswiamApp.ayahEdition.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ayahId">
            <div class="d-flex">
              <span jhiTranslate="lmswiamApp.ayahEdition.ayahId">Ayah Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="editionId">
            <div class="d-flex">
              <span jhiTranslate="lmswiamApp.ayahEdition.editionId">Edition Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="data">
            <div class="d-flex">
              <span jhiTranslate="lmswiamApp.ayahEdition.data">Data</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isAudio">
            <div class="d-flex">
              <span jhiTranslate="lmswiamApp.ayahEdition.isAudio">Is Audio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="lmswiamApp.ayahEdition.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="lmswiamApp.ayahEdition.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ayahEdition of ayahEditions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ayah-edition', ayahEdition.id, 'view']">{{ ayahEdition.id }}</a>
          </td>
          <td>{{ ayahEdition.ayahId }}</td>
          <td>{{ ayahEdition.editionId }}</td>
          <td>{{ ayahEdition.data }}</td>
          <td>{{ ayahEdition.isAudio }}</td>
          <td>{{ ayahEdition.createdAt | formatMediumDatetime }}</td>
          <td>{{ ayahEdition.updatedAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/ayah-edition', ayahEdition.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/ayah-edition', ayahEdition.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(ayahEdition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
