<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-comments-heading" data-cy="CommentsCreateUpdateHeading" jhiTranslate="lmswiamApp.comments.home.createOrEditLabel">
        Create or edit a Comments
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.pseudoName" for="field_pseudoName">Pseudo Name</label>
          <input
            type="text"
            class="form-control"
            name="pseudoName"
            id="field_pseudoName"
            data-cy="pseudoName"
            formControlName="pseudoName"
          />
          @if (editForm.get('pseudoName')!.invalid && (editForm.get('pseudoName')!.dirty || editForm.get('pseudoName')!.touched)) {
            <div>
              @if (editForm.get('pseudoName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'lmswiamApp.CommentType.null' | translate }}</option>
            @for (commentType of commentTypeValues; track $index) {
              <option [value]="commentType">{{ 'lmswiamApp.CommentType.' + commentType | translate }}</option>
            }
          </select>
          @if (editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.message" for="field_message">Message</label>
          <textarea class="form-control" name="message" id="field_message" data-cy="message" formControlName="message"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.like" for="field_like">Like</label>
          <input type="checkbox" class="form-check" name="like" id="field_like" data-cy="like" formControlName="like" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.disLike" for="field_disLike">Dis Like</label>
          <input type="checkbox" class="form-check" name="disLike" id="field_disLike" data-cy="disLike" formControlName="disLike" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.comments.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label jhiTranslate="lmswiamApp.comments.sessions8" for="field_sessions8s">Sessions 8</label>
          <select
            class="form-control"
            id="field_sessions8s"
            data-cy="sessions8"
            multiple
            name="sessions8s"
            formControlName="sessions8s"
            [compareWith]="compareSession"
          >
            @for (sessionOption of sessionsSharedCollection; track $index) {
              <option [ngValue]="sessionOption">{{ sessionOption.title }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
