<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tickets) {
      <div>
        <h2 data-cy="ticketsDetailsHeading"><span jhiTranslate="lmswiamApp.tickets.detail.title">Tickets</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ tickets.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.subject">Subject</span></dt>
          <dd>
            <span jhiTranslate="{{ 'lmswiamApp.TicketSubjects.' + tickets.subject }}">{{ tickets.subject }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.title">Title</span></dt>
          <dd>
            <span>{{ tickets.title }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.reference">Reference</span></dt>
          <dd>
            <span>{{ tickets.reference }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.description">Description</span></dt>
          <dd>
            <span>{{ tickets.description }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.justifDoc">Justif Doc</span></dt>
          <dd>
            @if (tickets.justifDoc) {
              <div>
                <a (click)="openFile(tickets.justifDoc, tickets.justifDocContentType)">
                  <img
                    [src]="'data:' + tickets.justifDocContentType + ';base64,' + tickets.justifDoc"
                    style="max-width: 100%"
                    alt="tickets image"
                  />
                </a>
                {{ tickets.justifDocContentType }}, {{ byteSize(tickets.justifDoc) }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.dateTicket">Date Ticket</span></dt>
          <dd>
            <span>{{ tickets.dateTicket | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.dateProcess">Date Process</span></dt>
          <dd>
            <span>{{ tickets.dateProcess | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.processed">Processed</span></dt>
          <dd>
            <span jhiTranslate="{{ 'lmswiamApp.TicketStatus.' + tickets.processed }}">{{ tickets.processed }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.from">From</span></dt>
          <dd>
            <span>{{ tickets.from | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.toDate">To Date</span></dt>
          <dd>
            <span>{{ tickets.toDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.decisionDetail">Decision Detail</span></dt>
          <dd>
            <span>{{ tickets.decisionDetail }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.site18">Site 18</span></dt>
          <dd>
            @if (tickets.site18) {
              <div>
                <a [routerLink]="['/site', tickets.site18.id, 'view']">{{ tickets.site18.nameAr }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmswiamApp.tickets.userCustom5">User Custom 5</span></dt>
          <dd>
            @if (tickets.userCustom5) {
              <div>
                <a [routerLink]="['/user-custom', tickets.userCustom5.id, 'view']">{{ tickets.userCustom5.firstName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/tickets', tickets.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
