<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (nationality) {
      <div>
        <h2 data-cy="nationalityDetailsHeading"><span jhiTranslate="lmswiamApp.nationality.detail.title">Nationality</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ nationality.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.nationality.nameAr">Name Ar</span></dt>
          <dd>
            <span>{{ nationality.nameAr }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.nationality.nameLat">Name Lat</span></dt>
          <dd>
            <span>{{ nationality.nameLat }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/nationality', nationality.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
