<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (review) {
      <div>
        <h2 data-cy="reviewDetailsHeading"><span jhiTranslate="lmswiamApp.review.detail.title">Review</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ review.id }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.review.body">Body</span></dt>
          <dd>
            <span>{{ review.body }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.review.rating">Rating</span></dt>
          <dd>
            <span>{{ review.rating }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.review.reviewDate">Review Date</span></dt>
          <dd>
            <span>{{ review.reviewDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="lmswiamApp.review.site3">Site 3</span></dt>
          <dd>
            @if (review.site3) {
              <div>
                <a [routerLink]="['/site', review.site3.id, 'view']">{{ review.site3.nameAr }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmswiamApp.review.part2">Part 2</span></dt>
          <dd>
            @if (review.part2) {
              <div>
                <a [routerLink]="['/part', review.part2.id, 'view']">{{ review.part2.titleAr }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="lmswiamApp.review.userCustom3">User Custom 3</span></dt>
          <dd>
            @if (review.userCustom3) {
              <div>
                <a [routerLink]="['/user-custom', review.userCustom3.id, 'view']">{{ review.userCustom3.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
