<div class="row">
  <div class="col-md-12">
    <div class="db-content row ps-lg-2">
      <div class="col-lg-3">
        <h5 class="mb-4">دروسي</h5>
        <div class="card border-0 p-3 rounded-4 mb-3">
          <div class="bg-beige rounded-4 p-2">
            <img src="./content/custom/img/tartil-al-quran.svg" class="d-block m-auto" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">حفظ القرآن</h5>
            <p class="card-text">لوريم ايبسوم دولار سيت أميت أنكايد يديونتيوت لابوري ات.</p>
          </div>
        </div>
        <div class="card border-0 p-3 rounded-4 mb-3">
          <div class="bg-beige rounded-4 p-2">
            <img src="./content/custom/img/tartil-al-quran.svg" class="d-block m-auto" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">حفظ القرآن</h5>
            <p class="card-text">لوريم ايبسوم دولار سيت أميت أنكايد يديونتيوت لابوري ات.</p>
          </div>
        </div>
        <div class="card border-0 p-3 rounded-4 mb-3">
          <div class="bg-beige rounded-4 p-2">
            <img src="./content/custom/img/tartil-al-quran.svg" class="d-block m-auto" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">حفظ القرآن</h5>
            <p class="card-text">لوريم ايبسوم دولار سيت أميت أنكايد يديونتيوت لابوري ات.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 bg-white rounded-5 p-3">
        <div class="row">
          <div class="col-lg-12">
            <video src="./content/custom/video/header-video.mp4" width="100%" class="object-fit-cover rounded-4" controls></video>
          </div>
          <div class="row">
            <div class="col-2 pe-0">
              <img src="./content/custom/img/fi-sr-star.svg" />
              <img src="./content/custom/img/fi-sr-star.svg" />
              <img src="./content/custom/img/fi-sr-star.svg" />
              <img src="./content/custom/img/fi-sr-star.svg" />
              <img src="./content/custom/img/star.svg" />
            </div>
            <div class="col-2 ps-0">
              <p><span>(48) </span>4.7</p>
            </div>
          </div>
          <div>
            <h5>تجويد القرآن</h5>
            <p>
              لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا
              أليكيوا . يوت انيم أد مينيم فينايم, كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات .
            </p>
          </div>
          <div class="col-lg-12 row">
            <h5>محتوى الدورة</h5>
            <div class="card mb-3 rounded-4 col-lg-12">
              <div class="row g-0 justify-content-between">
                <div class="col-md-2 p-2">
                  <img src="./content/custom/img/video-intro.svg" width="100%" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-7">
                  <div class="card-body p-1">
                    <h5 class="card-title mb-1">مقدمة</h5>
                    <p class="card-text" style="font-size: 13px">
                      لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 row">
                  <div class="col-lg-8 align-self-center d-flex justify-content-evenly align-items-center p-0">
                    <p class="m-0">mins</p>
                    <p class="m-0">15:32</p>
                  </div>
                  <div class="col-lg-4 align-self-center p-0">
                    <button class="btn bg-beige border-iris d-flex align-items-center p-2" type="button">
                      <img width="12px" src="./content/custom/img/fi-sr-play.svg" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 rounded-4">
              <div class="row g-0 justify-content-between">
                <div class="col-md-2 p-2">
                  <img src="./content/custom/img/video-intro.svg" width="100%" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-7">
                  <div class="card-body p-1">
                    <h5 class="card-title mb-1">مقدمة</h5>
                    <p class="card-text" style="font-size: 13px">
                      لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 row">
                  <div class="col-lg-8 align-self-center d-flex justify-content-evenly align-items-center p-0">
                    <p class="m-0">mins</p>
                    <p class="m-0">15:32</p>
                  </div>
                  <div class="col-lg-4 align-self-center p-0">
                    <button class="btn bg-beige border-iris d-flex align-items-center p-2" type="button">
                      <img width="12px" src="./content/custom/img/fi-sr-play.svg" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 rounded-4 col-lg-12">
              <div class="row g-0 justify-content-between">
                <div class="col-md-2 p-2">
                  <img src="./content/custom/img/video-intro.svg" width="100%" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-7">
                  <div class="card-body p-1">
                    <h5 class="card-title mb-1">مقدمة</h5>
                    <p class="card-text" style="font-size: 13px">
                      لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 row">
                  <div class="col-lg-8 align-self-center d-flex justify-content-evenly align-items-center p-0">
                    <p class="m-0">mins</p>
                    <p class="m-0">15:32</p>
                  </div>
                  <div class="col-lg-4 align-self-center p-0">
                    <button class="btn bg-beige border-iris d-flex align-items-center p-2" type="button">
                      <img width="12px" src="./content/custom/img/fi-sr-play.svg" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 justify-content-center">
        <div class="bg-white p-3 mb-3 rounded-4 col-lg-12 justify-content-between">
          <div class="col-lg-12 row g-0 justify-content-around text-center">
            <div class="col-lg-2 align-content-center text-center">
              <button class="btn bg-beige border-iris d-flex align-items-center p-2">
                <img src="./content/custom/img/fi-sr-caret-right.svg" width="20px" />
              </button>
            </div>
            <div class="col-lg-8 text-center"><h5>ديسمبر , 2023</h5></div>
            <div class="col-lg-2 text-center">
              <button class="btn bg-beige border-iris d-flex align-items-center p-2">
                <img src="./content/custom/img/fi-sr-caret-left.svg" width="20px" />
              </button>
            </div>
          </div>
          <div class="row bg-white p-3 mb-3 rounded-4 col-lg-12 justify-content-between">
            <div class="col-lg-12 row g-0 justify-content-between text-center bg-beige rounded-1">
              <div class="col-lg-1 p-1">ن</div>
              <div class="col-lg-1 p-1">ث</div>
              <div class="col-lg-1 p-1">ر</div>
              <div class="col-lg-1 p-1">خ</div>
              <div class="col-lg-1 p-1">ج</div>
              <div class="col-lg-1 p-1">س</div>
              <div class="col-lg-1 p-1">ح</div>
            </div>
            <div class="col-lg-12 row g-0 justify-content-between text-center rounded-1">
              <div class="col-lg-1 p-1">1</div>
              <div class="col-lg-1 p-1">2</div>
              <div class="col-lg-1 p-1">3</div>
              <div class="col-lg-1 p-1">4</div>
              <div class="col-lg-1 p-1">5</div>
              <div class="col-lg-1 p-1">6</div>
              <div class="col-lg-1 p-1">7</div>
            </div>
            <div class="col-lg-12 row g-0 justify-content-between text-center rounded-1">
              <div class="col-lg-1 p-1">8</div>
              <div class="col-lg-1 p-1">9</div>
              <div class="col-lg-1 p-1">10</div>
              <div class="col-lg-1 p-1">11</div>
              <div class="col-lg-1 p-1">12</div>
              <div class="col-lg-1 p-1">13</div>
              <div class="col-lg-1 p-1">14</div>
            </div>
            <div class="col-lg-12 row g-0 justify-content-between text-center rounded-1">
              <div class="col-lg-1 p-1 calendar-active">15</div>
              <div class="col-lg-1 p-1">16</div>
              <div class="col-lg-1 p-1">17</div>
              <div class="col-lg-1 p-1">18</div>
              <div class="col-lg-1 p-1">19</div>
              <div class="col-lg-1 p-1">20</div>
              <div class="col-lg-1 p-1">21</div>
            </div>
            <div class="col-lg-12 row g-0 justify-content-between text-center rounded-1">
              <div class="col-lg-1 p-1">22</div>
              <div class="col-lg-1 p-1">23</div>
              <div class="col-lg-1 p-1">24</div>
              <div class="col-lg-1 p-1">25</div>
              <div class="col-lg-1 p-1">26</div>
              <div class="col-lg-1 p-1">27</div>
              <div class="col-lg-1 p-1">28</div>
            </div>
            <div class="col-lg-12 row g-0 justify-content-between text-center rounded-1">
              <div class="col-lg-1 p-1">29</div>
              <div class="col-lg-1 p-1">30</div>
              <div class="col-lg-1 p-1">29</div>
              <div class="col-lg-1 p-1">30</div>
              <div class="col-lg-1 p-1">31</div>
              <div class="col-lg-1 p-1 text-gray">1</div>
              <div class="col-lg-1 p-1 text-gray">2</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-10 lign-middle"><h5 class="m-0 align-middle">المهام</h5></div>
            <div class="col-lg-2">
              <button class="btn bg-transparent"><img src="./content/custom/img/fi-sr-menu-dots-vertical.svg" /></button>
            </div>
          </div>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item bg-white border-0 rounded-4 mb-4">
            <div class="card bg-transparent border-0 accordion-header">
              <div class="row g-0 p-2">
                <div class="col-md-3 p-2 d-flex align-items-center bg-beige rounded-4">
                  <img src="./content/custom/img/illu-salat.svg" class="img-fluid rounded-start" width="100%" />
                </div>
                <div class="col-md-7">
                  <div class="card-body py-2 px-3">
                    <h6 class="card-title m-0">الصلاة</h6>
                    <p class="card-text m-0" style="font-size: 14px">لوريم ايبسوم دولار</p>
                    <p class="card-text" style="font-size: 12px"><small class="text-body-secondary">29-12-2023, 15:30</small></p>
                  </div>
                </div>
                <div class="col-md-2 align-content-center">
                  <button
                    class="accordion-button p-0 align-content-center bg-transparent border-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  ></button>
                </div>
              </div>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">
                <p class="m-0"><strong>من:</strong> لوريم ايبسوم دولار</p>
                <p class="m-0"><strong>إلى:</strong> لوريم ايبسوم دولار</p>
              </div>
            </div>
          </div>
          <div class="accordion-item bg-white border-0 rounded-4 mb-4">
            <div class="card bg-transparent border-0 accordion-header">
              <div class="row g-0 p-2">
                <div class="col-md-3 p-2 d-flex align-items-center bg-beige rounded-4">
                  <img src="./content/custom/img/illu-quran.svg" class="img-fluid rounded-start" width="100%" />
                </div>
                <div class="col-md-7">
                  <div class="card-body py-2 px-3">
                    <h6 class="card-title m-0">الصلاة</h6>
                    <p class="card-text m-0" style="font-size: 14px">لوريم ايبسوم دولار</p>
                    <p class="card-text" style="font-size: 12px"><small class="text-body-secondary">29-12-2023, 15:30</small></p>
                  </div>
                </div>
                <div class="col-md-2 align-content-center">
                  <button
                    class="accordion-button collapsed accordion-button p-0 align-content-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  ></button>
                </div>
              </div>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">
                <p class="m-0"><strong>من:</strong> لوريم ايبسوم دولار</p>
                <p class="m-0"><strong>إلى:</strong> لوريم ايبسوم دولار</p>
              </div>
            </div>
          </div>
          <div class="accordion-item bg-white border-0 rounded-4 mb-4">
            <div class="card bg-transparent border-0 accordion-header">
              <div class="row g-0 p-2">
                <div class="col-md-3 p-2 d-flex align-items-center bg-beige rounded-4">
                  <img src="./content/custom/img/illu-tasbih.svg" class="img-fluid rounded-start" width="100%" />
                </div>
                <div class="col-md-7">
                  <div class="card-body py-2 px-3">
                    <h6 class="card-title m-0">الصلاة</h6>
                    <p class="card-text m-0" style="font-size: 14px">لوريم ايبسوم دولار</p>
                    <p class="card-text" style="font-size: 12px"><small class="text-body-secondary">29-12-2023, 15:30</small></p>
                  </div>
                </div>
                <div class="col-md-2 align-content-center">
                  <button
                    class="accordion-button collapsed accordion-button p-0 align-content-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  ></button>
                </div>
              </div>
            </div>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body pt-0">
                <p class="m-0"><strong>من:</strong> لوريم ايبسوم دولار</p>
                <p class="m-0"><strong>إلى:</strong> لوريم ايبسوم دولار</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        @if (account !== null) {
          <div class="alert alert-success">
            @if (account) {
              <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
                >You are logged in as user &quot;{{ account.login }}&quot;.</span
              >
            }
          </div>
        } @else {}
      </div>

      <p>
        <span jhiTranslate="home.like">If you like JHipster, don&apos;t forget to give us a star on</span>
        <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
          >GitHub</a
        >!
      </p>
    </div>
  </div>
</div>
