<div>
  <h2 id="page-heading" data-cy="SessionCoursesHeading">
    <span jhiTranslate="lmswiamApp.sessionCourses.home.title">Session Courses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lmswiamApp.sessionCourses.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-session-courses"
        [routerLink]="['/session-courses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="lmswiamApp.sessionCourses.home.createLabel">Create a new Session Courses</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="lmswiamApp.sessionCourses.home.search"
          >Search for Session Courses</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'lmswiamApp.sessionCourses.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (sessionCourses?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lmswiamApp.sessionCourses.home.notFound">No Session Courses found</span>
    </div>
  }

  @if (sessionCourses && sessionCourses.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.sessionCourses.title">Title</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.sessionCourses.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="resourceLink">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.sessionCourses.resourceLink">Resource Link</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="resourceFile">
              <div class="d-flex">
                <span jhiTranslate="lmswiamApp.sessionCourses.resourceFile">Resource File</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sessionCourses of sessionCourses; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/session-courses', sessionCourses.id, 'view']">{{ sessionCourses.id }}</a>
              </td>
              <td>{{ sessionCourses.title }}</td>
              <td>{{ sessionCourses.description }}</td>
              <td>{{ sessionCourses.resourceLink }}</td>
              <td>
                @if (sessionCourses.resourceFile) {
                  <a
                    (click)="openFile(sessionCourses.resourceFile, sessionCourses.resourceFileContentType)"
                    jhiTranslate="entity.action.open"
                    >Open</a
                  >
                  <span>{{ sessionCourses.resourceFileContentType }}, {{ byteSize(sessionCourses.resourceFile) }}</span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/session-courses', sessionCourses.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/session-courses', sessionCourses.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(sessionCourses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
