<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-quiz-heading" data-cy="QuizCreateUpdateHeading" jhiTranslate="lmswiamApp.quiz.home.createOrEditLabel">
        Create or edit a Quiz
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.quiz.quizType" for="field_quizType">Quiz Type</label>
          <select class="form-control" name="quizType" formControlName="quizType" id="field_quizType" data-cy="quizType">
            <option [ngValue]="null">{{ 'lmswiamApp.ExamType.null' | translate }}</option>
            <option *ngFor="let examType of examTypeValues" [value]="examType">{{ 'lmswiamApp.ExamType.' + examType | translate }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.quiz.quizTitle" for="field_quizTitle">Quiz Title</label>
          <input type="text" class="form-control" name="quizTitle" id="field_quizTitle" data-cy="quizTitle" formControlName="quizTitle" />
          <div *ngIf="editForm.get('quizTitle')!.invalid && (editForm.get('quizTitle')!.dirty || editForm.get('quizTitle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quizTitle')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quizTitle')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
              >This field cannot be longer than 100 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.quiz.quizDescription" for="field_quizDescription">Quiz Description</label>
          <textarea
            class="form-control"
            name="quizDescription"
            id="field_quizDescription"
            data-cy="quizDescription"
            formControlName="quizDescription"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.quiz.deadline" for="field_deadline">Deadline</label>
          <div class="d-flex">
            <input
              id="field_deadline"
              data-cy="deadline"
              type="datetime-local"
              class="form-control"
              name="deadline"
              formControlName="deadline"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('deadline')!.invalid && (editForm.get('deadline')!.dirty || editForm.get('deadline')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('deadline')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('deadline')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
              >This field should be a date and time.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.quiz.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
          <div *ngIf="editForm.get('isActive')!.invalid && (editForm.get('isActive')!.dirty || editForm.get('isActive')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActive')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label jhiTranslate="lmswiamApp.quiz.groups" for="field_groups">Groups</label>
          <select
            class="form-control"
            id="field_groups"
            data-cy="groups"
            multiple
            name="groups"
            formControlName="groups"
            [compareWith]="compareGroup"
          >
            <option [ngValue]="groupOption" *ngFor="let groupOption of groupsSharedCollection">{{ groupOption.nameAr }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="lmswiamApp.quiz.questions" for="field_questions">Questions</label>
          <select
            class="form-control"
            id="field_questions"
            data-cy="questions"
            multiple
            name="questions"
            formControlName="questions"
            [compareWith]="compareQuestion"
          >
            <option [ngValue]="questionOption" *ngFor="let questionOption of questionsSharedCollection">
              {{ questionOption.question }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.quiz.site7" for="field_site7">Site 7</label>
          <select class="form-control" id="field_site7" data-cy="site7" name="site7" formControlName="site7" [compareWith]="compareSite">
            <option [ngValue]="null"></option>
            <option [ngValue]="siteOption" *ngFor="let siteOption of sitesSharedCollection">{{ siteOption.nameAr }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lmswiamApp.quiz.topic1" for="field_topic1">Topic 1</label>
          <select
            class="form-control"
            id="field_topic1"
            data-cy="topic1"
            name="topic1"
            formControlName="topic1"
            [compareWith]="compareTopic"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="topicOption" *ngFor="let topicOption of topicsSharedCollection">{{ topicOption.titleAr }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
